.root{
    -fx-background-color: linear-gradient(from 10% 10% to 50% 50%, reflect, #000031, red);
    -fx-text-fill: white, 12px;
    -fx-animated: pulse 10s infinite;
}

@keyframes pulse {
    0% {
        background-color: #001F3F;
    }
    100% {
        background-color: #FF4136;
    }
}

.tab{
    -fx-font-size: 12px;
    -fx-pref-width: 175;
    -fx-pref-height: 40;
    -fx-text-fill: white;

}


.image-view-user-menu:hover {
    -fx-effect: dropshadow(two-pass-box, #343434, 14, 0.0 , 10, 0);
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}

#forgotPW:hover{
    -fx-text-fill: white, 12px;
    -fx-underline: true;
    -fx-cursor: HAND;
}

.lblWelcomeMessage{
    -fx-font-size: 22;
}

.text-field {
    -fx-background-color: linear-gradient(#ABABAC ,#E2E2E2);
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:hover {
    -fx-background-color: linear-gradient(#d7e8ff, #e2dcdd);
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.button{
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-margin: 3px 2px;
    -fx-border: no;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 10 28 10 28;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.button:hover{
    -fx-background-color:
            #000000,
            linear-gradient(#2f4b8f, #7ebcea),
            linear-gradient(#263e75, #426ab7),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
}

.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

#faq .tree-cell{
   -fx-background-color: transparent;

    -fx-text-fill: #ffffff ;
    -fx-font-size: 14px;
}
#faq {
    -fx-background-color: transparent ;
    -fx-text-fill: #ffffff ;
}
.table-cell {
     -fx-text-fill: white;
     -fx-font-size: 14px;
}
.table-view {
    -fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
}
#editUserPane{
-fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
}
#editEmail{
-fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
    -fx-text-fill: white;
         -fx-font-size: 14px;
}
#editPassword{
-fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
    -fx-text-fill: white;
         -fx-font-size: 14px;
}
#editBalance{
-fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
    -fx-text-fill: white;
         -fx-font-size: 14px;
}
#editFirstName{
-fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
    -fx-text-fill: white;
         -fx-font-size: 14px;
}
#editLastName{
-fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
    -fx-text-fill: white;
         -fx-font-size: 14px;
}
#editAddress{
-fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
    -fx-text-fill: white;
         -fx-font-size: 14px;
}
#editPhoneNr{
-fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color:
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);

    -fx-background-color: rgba(0,0,0,.75);
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
    -fx-text-fill: white;
         -fx-font-size: 14px;
}
