.root{
    -fx-background-color: teal;
}

.tab{
    -fx-pref-width: 175;
    -fx-pref-height: 40;
    -fx-opacity: 90;
}

.button {
    -fx-background-color: red;
    -fx-border: no;
    -fx-color: white;
    -fx-padding: 8px 16px;
    -fx-text-align: center;
    -fx-text-decoration: yes;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-margin: 3px 2px;
    -fx-cursor: pointer;
    -fx-effect: dropshadow(one-pass-box, black, 14, 0.0 , 6, 0);
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: white;
    -fx-border-color: red;
}

.text-field {
-fx-background-color: linear-gradient(#ABABAC ,#E2E2E2);
}